{% extends 'academico/base.html' %}

{% block title %}Turmas{% endblock %}

{% block content %}
<div class="page-card">
    <h1>Lista de Turmas</h1>

    <div class="table-wrap">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Turno</th>
                </tr>
            </thead>
            <tbody>
                {% for t in turmas %}
                <tr>
                    <td>{{ t.nome }}</td>
                    <td>{{ t.curso }}</td>
                    <td>{{ t.turno }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}